# Created by .ignore support plugin (hsz.mobi)
/nbproject/private/config.properties
/nbproject/private/private.properties
/nbproject/private/private.xml
/nbproject/project.properties
/nbproject/project.xml
